<!DOCTYPE html>
<html ng-app="SlCV" ng-controller="AppCtrl" lang="de">
  <head>
    <title ng-bind="pageTitle"></title>

    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.3.0/font-mfizz.min.css">
    
    
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAACEhIQAxsbGAP///wAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMzMzMzMzMzMzMwAAADMzMzMwERERAzMzMwEiIiIQMzMzASIiIhAAMzMBIiIiEDMDMwEiIiIQMwMzASIiIhAzAzMBIiIiEDMDMwEREREQADMzAAAAAAAzMzMzMTMTMzMzMzMxMxMzMzMzMxMxMzMzMzMzEzEzMzMzMzMzMzMzMzP//wAA8D8AAOAfAADADwAAwAMAAMANAADADQAAwA0AAMANAADAAwAAwA8AAPt/AAD7fwAA9v8AAPb/AAD//wAA" rel="icon" type="image/x-icon" />
    
    <link href="assets/flaticon/flaticon.css" rel="stylesheet">
    
    <!-- compiled CSS -->
    <link rel="stylesheet" type="text/css" href="assets/CV-1.0.0.css" />

    <!-- compiled JavaScript -->
      <script type="text/javascript" src="assets/CV-1.0.0.js"></script>

  </head>
  <body>
    <div class="container">
	<div class="row">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
            ng-click="menuCollapsed = ! menuCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
            S&nbsp;L
          </div>
        </div>
        <div class="collapse navbar-collapse" uib-collapse="menuCollapsed">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active">
              <a href ui-sref="home">
                <i class="flaticon flaticon-home168"></i>
                Start
              </a>
            </li>
            <li ui-sref-active="active">
              <a href ui-sref="about">
                  <i class="flaticon flaticon-business133"></i>
                  {{'Nav.about' | translate }}
              </a>
            </li>
              <li ui-sref-active="active">
                  <a href ui-sref="projects">
                      <i class="flaticon flaticon-folder232"></i>
                      {{'Nav.projects' | translate }}
                  </a>
              </li>
              <li ui-sref-active="active">
                  <a href ui-sref="contact">
                      <i class="flaticon flaticon-telephone34"></i>
                      {{'Nav.contact' | translate }}
                  </a>
              </li>
          </ul>
          <button id="langButton" ng-click='switchLang()' type="button" class="btn btn-default navbar-btn navbar-right">{{ currentLanguage | uppercase}}</button>
        </div>
      </nav>
	  </div>
    </div>

    <div class="container" ui-view="main"></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
          <p class="text-center">
            (c) <span ng-bind="currentYear"></span> <a href="http://www.SL.com">Sascha Laabs</a>. 
            {{ 'Footer.thisSiteUses' | translate }}
            <a href="http://www.angularjs.org">AngularJS</a>,
            <a href="http://getbootstrap.com">Bootstrap</a> {{ 'and' | translate }}
            <a href="http://angular-ui.github.com/bootstrap">UI Bootstrap</a>.
            
              <br/>Icons {{ 'from' | translate }} <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>, <a href="http://www.flaticon.com/authors/icomoon" title="Icomoon">Icomoon</a>, <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a> {{'from' | translate }} <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> {{'licensed by' | translate}} <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
